@model List<Beer>

<h1>Cervezas</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>            
            <th>
                Marca
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var beer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m=>beer.Name)
                </td>
               
                <td>
                    @Html.DisplayFor(m=>beer.Brand.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@beer.BeerId" class="btn btn-warning btn-sm btn-edit">Editar</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@beer.BeerId" onsubmit="return confirm('¿Está seguro de que desea eliminar esta cerveza?');">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
